/*Quicksand?*/
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic);

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Merriweather", Impact, sans-serif;
  text-transform: none;
}


table.authors-contact td {
  text-align: center;
}
table.authors-contact tr.smaller td {
  font-size: 75%;
}
table.authors-contact td img {
  margin: 0;
  width: 3em;
  height: 3em;
  max-width: none;
  max-height: none;
}

span.ok,
span.nope {
  font-weight: bold;
  display: inline-block;
  position: absolute;
  right: 0;
  text-shadow: 0 0 7px #ccc;
}
span.ok {
  color: darkgreen;
}
span.nope {
  font-weight: bold;
  color: darkred;
}

.reveal section .force-natural-case {
  text-transform: none;
}

.reveal section img.plain {
  background: none;
  border-width: 0;
  box-shadow: none;
}
.reveal section h1 img.plain,
.reveal section h2 img.plain,
.reveal section h3 img.plain,
.reveal section h4 img.plain,
.reveal section h5 img.plain,
.reveal section h6 img.plain {
  margin: 0;
}

@media all {
  .print-only {
    display: none;
  }
  .no-print {
    display: inherit;
  }
}

@media print {
  .print-only {
    display: inherit !important;
  }
  .no-print {
    display: none;
  }
}

.reveal section img.contrast {
  background-color: #fff;
  border: 10px solid #fff;
  box-shadow: 0 0 10px 10px #fff;
  border-radius: 5px;
}

.reveal section img.contrast-black {
  background-color: #000;
  border: 10px solid #000;
  box-shadow: 0 0 10px 10px #000;
  border-radius: 5px;
}

.reveal section p.subtle {
  margin-top: 5em;
}

.reveal section p.subtle a {
  font-size: smaller;
}

.reveal section div.split-info {
  margin: 5px;
  clear: both;
}

.reveal section div.part {
  margin: 5px;
  float: left;
  width: 48.9%;
}

.reveal section div.part .enumeration {
  text-align: left;
}

.reveal section a.twitter,
.reveal section a.github,
.reveal section a.email {
  display: inline;
  padding-left: 1.2em;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 1.0em;
}

.reveal section a.github {
  background-image: url("img/github-logo.png");
}

.reveal section a.twitter {
  background-image: url("img/twitter-logo.png");
}

.reveal section a.email {
  background-image: url("img/mail-logo.png");
}

.reveal section .highlight {
  text-shadow: 0 0 20px red;
}

.reveal section .unhighlight {
  opacity: 0.7;
}

.reveal section .force-lowercase {
  text-transform:lowercase;
}

.reveal code.small {
  font-size: 0.8em;
  line-height: 1.2em;
}

.reveal section #books div {
  float: left;
  width: 33%
}

.reveal section img.sideimage {
  float: right;
  clear: right;
  width: 25%
}
.reveal section.author ul {
  /*max-width: 70%;*/
}
.reveal section blockquote footer {
  font-size: 0.7em;
  text-align: right;
}
.reveal section blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -5px;
  top: -25px;
  color: #7a7a7a;
}

.reveal section blockquote {
  box-shadow: none;
  padding: 0.5em 1em;
}
